.header{
    background-color: #181A1A;
}

#fb{
    width: 7%;
    float: left;
}
#google{
    width: 15%;
    float:left;
}
.btn1{
    background-color: #3b5998;  
    color:white
}
.btn2{
    background-color: #fd7521;
}

.letra{
    font-family: 'Indie Flower', cursive;
    text-align: center;
}
#main .carousel-inner img {
    max-height: 70vh;
    object-fit: cover;
    background: red;
    filter: grayscale(70%)
}

#main .carousel {
    position: relative;
}

#main .carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#main .carousel .overlay .container,
#main .carousel .overlay .row{
    height: 100%;
}
